.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: 20px auto;
  max-width: 850px;
  overflow: hidden;
}

.product-image {
  display: flex;
  border: solid ;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 600px;
  overflow: hidden;
}

.selected-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.selected-image img:hover {
  transform: scale(1.05);
}

.thumbnails {
  display: flex;
  margin: auto;
  gap: 10px;
  padding: 20px 0;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #007bff #e0e0e0;
}

.thumbnails::-webkit-scrollbar {
  height: 8px;
}

.thumbnails::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.thumbnails::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

.thumbnails img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.thumbnails img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.thumbnails img.active {
  transform: scale(1.15);
  opacity: 1;
  border: 3px solid #007bff;
}

.product-info {
  text-align: center;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}

.product-name {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
}

.category, .price {
  font-size: 18px;
  color: #333;
}

.short-description, .long-description {
  margin-top: 15px;
  line-height: 1.5;
}

.specs, .category-description {
  margin-top: 20px;
}

.specs h3, .category-description h3 {
  margin-bottom: 15px;
}

.specs ul {
  list-style: none;
  padding: 0;
}

.specs li {
  background: #e9ecef;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.category-description p {
  background: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}