<header class="cart-header">
    <h2 class="header">Cart</h2>
</header>
<div class="cart-wrapper">
    <div *ngFor="let item of items" class="cart-item">
        <div class="item-details">
            <img [src]="getProductImageUrl(item)" alt="Product Image" class="product-image">
            <div class="item-info">
                <h3>{{ item.NAME }}</h3>
                <p>{{ item.SHORT_DESCRIPTION }}</p>
                <p>Price: {{ item.PRICE | currency:'USD' }}</p>
                <p>Total: {{ (item.PRICE * item.QUANTITY) | currency:'USD' }}</p>
                <p>Quantity: {{(item.QUANTITY)}}</p>
            </div>
        </div>
        <div class="item-modification">
            <p>Quantity: <input type="number" [(ngModel)]="quantities[item.PRODUCT_ID]" placeholder="1" class="quantity-input">
            </p>
            <div class="btn-container">
                <button class="apply-btn" (click)="addCustomQuantity(item, quantities[item.PRODUCT_ID])">Set Quantity</button>
                <button class="remove-btn" (click)="removeItemFromCart(item)">Remove 1</button>
                <button class="remove-btn" (click)="removeAllFromCart(item)">Remove All</button>
            </div>
        </div>
    </div>
    <div class="cart-total">
        <h3>Total: {{ getTotal() | currency:'USD' }}</h3>
        <button class="checkout-btn">Checkout</button>
    </div>
</div>

